{% extends "base.html" %}


{% block libs %}
{{ super() }}
<script src="../../assets/javascripts/av-min.js"></script>      <!-- //cdn1.lncld.net/static/js/3.0.4/av-min.js -->
<script src='../../assets/javascripts/Valine.min.js'></script>  <!-- //unpkg.com/valine/dist/Valine.min.js -->
{% endblock %}


{% block disqus %}
<div id="comments_main">
    <div style="height: 30px;"></div>
    <hr>
    <h2>你终于看完了！</h2>
    <span id="leancloud-visitor" class="leancloud-visitors" data-flag-title="Your Article Title">
        你可能会好奇这个数字，所以我就直接告诉你吧，<em class="post-meta-item-text""><b>这文章阅读量 </b></em>
        <b><i class="leancloud-visitors-count">x</i></b>
    </span>
    <p>如果你对这篇文章有任何想法或者对Keyboard本人有什么看法，随便什么东西，甚至是“hhh”，都可以在下面留言。随便吐槽，反正我不会看的...</p>
    <p>这是完全匿名的，当然你也可以留个名，甚至留个邮箱，因为如果你有什么有趣的留言我可能会好奇想认识一下你</p>
    <p><em>（说实话，我会看的，真的！）</em></p>
    <div id="vcomments"></div>
</div>
<script>
    document.getElementById("leancloud-visitor").id = window.location.pathname;
    let comments_switch = document.getElementById("comments_switch");
    if (!comments_switch || comments_switch.innerText != "False") {
        new Valine({
            el: '#vcomments',
            appId: '9nBhQjarudnTltm9uQgqT04z-gzGzoHsz',
            appKey: 'jpCWh05kBHWtjvxg6pjbPiMP',
            placeholder: 'e.g. hhh',
            meta: ['nick', 'mail'],
            pageSize: 5,
            visitor: true
        })
    }
    else {
        document.getElementById("comments_main").hidden = true;
    }
    
</script>
{% endblock %}